<%= form_with(model: spot, local:true) do |form| %>
  <% if spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spot.errors.count, "error") %> prohibited this spot from being saved:</h2>

      <ul>
        <% spot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field text-left mb-2">
    <%= form.label :category, class: "mr-1" %>
    <%= form.select :category, Spot.categories.keys, {prompt: "選択してください"}, class: "mx-auto w-2/3 mt-2 border-2 border-yellow-300 rounded-md focus:outline-none" %>
  </div>

  <div class="text-left flex flex-col">
  <div class="field check_boxies mb-2">
    <p class="mb-1">tags</p>
    <p><%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |b| %>
        <%= b.label class:"flex gap-2" do %>
        <%=b.check_box + b.text%>
        <%end%>
      <%end%>
    </p>
  </div>

  <div class="field mb-2">
    <%= form.label :name, class: "mr-1" %>
    <%= form.text_field :name %>
  </div>
  
  <div class="field mb-2">
    <%= form.label :address, class: "mr-1" %>
    <%= form.text_field :address, size: "28x30", id:"pac-input", onChange:"codeAddress()", class: "mt-1 border-2 border-yellow-300 rounded-md focus:outline-none" %>
        <div id="map"></div>
  </div>

  <div class="field mb-2">
    <%= form.label :visited_on, class: "mr-1" %>
    <%= form.date_field :visited_on, class:"border-2 border-yellow-300 rounded-md focus:outline-none" %>
  </div>

  <div class="field mb-2">
    <%= form.label :url, class: "mr-1" %>
    <%= form.text_field :url, class:"border-2 border-yellow-300 rounded-md focus:outline-none" %>
  </div>

  <div class="field mb-2">
    <%= form.label :comment %>
    <%= form.text_area :comment, class: "mt-2 w-full border border-gray-200", rows: "4" %>
  </div>
</div>

  <div class="field">
    <%= form.file_field :images, multiple: true %>
  </div>

  <% if spot.images.attached? %>
    <p>選択済みの画像（削除する画像にチェックをつけてください）</p>
    <div style="display: flex; flex-wrap: wrap; width: 750px;">
    <% @spot.images.each do |image| %>
      <div style="display: flex; margin:5px 5px 5px 0;">
        <%= form.check_box :image_ids, { multiple: true }, image.id, false %>
        <label for="user_image_ids_<%= image.id %>" > 
          <%= image_tag image, size: '100x100' %>
        </label>
      </div>
    <% end %>
    </div>
  <% end %>

  <%= form.hidden_field :album_id, value: album.id %>

  
  <div class="inline-block w-2/3 py-2 my-3 rounded-md bg-yellow-300 hover:bg-yellow-400">
    <%= form.submit class: "bg-transparent" %>
  </div>
<% end %>

<script>
  function initMap() {
        const input = document.getElementById("pac-input");
        new google.maps.places.Autocomplete(input);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap&libraries=places&v=weekly"defer></script>