<%= form_with(model: spot, local:true) do |form| %>
  <% if spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spot.errors.count, "error") %> prohibited this spot from being saved:</h2>

      <ul>
        <% spot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="spot_category">
    <%= form.label :category %>
    <%= form.select(:category_id, ["ご飯", "スイーツ", "その他"], {prompt: "選択してください"}, required: true) =%>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  
  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address,size: "40x20", id:"pac-input", onChange:"codeAddress()" %>
        <div id="map"></div>
  </div>

  <div class="field">
    <%= form.label :visited_on %>
    <%= form.date_field :visited_on %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <% if spot.images.attached? %>
    <p>選択済みの画像（削除する画像にチェックをつけてください）</p>
    <div style="display: flex; flex-wrap: wrap; width: 750px;">
    <% @spot.images.each do |image| %>
      <div style="display: flex; margin:5px 5px 5px 0;">
        <%= form.check_box :image_ids, { multiple: true }, image.id, false %>
        <label for="user_image_ids_<%= image.id %>" > 
          <%= image_tag image, size: '100x100' %>
        </label>
      </div>
    <% end %>
    </div>
  <% end %>

  <%= form.hidden_field :album_id, value: @album.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  let geocoder
    let map
    function initMap() {
        geocoder = new google.maps.Geocoder()
        map = new google.maps.Map(document.getElementById("map"), {
            center: {lat:34.965106 , lng:136.624412},
            zoom: 12
        });
        const input = document.getElementById("pac-input");
        const autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo("bounds", map);
    }
        function codeAddress(){
            let inputAddress = document.getElementById('pac-input').value;

            geocoder.geocode( { 'address': inputAddress}, function(results, status) {
                if (status == 'OK') {
                    map.setCenter(results[0].geometry.location);
                    let marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('該当する結果がありませんでした：' + status);
                }
            }); 
        }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap&libraries=places&v=weekly"defer></script>