<% unless @spot.album.user_id == current_user.id %>
<% if @favorite.present? %>
    <p><%= link_to 'お気に入り解除する', favorite_path(favorite_id: @favorite.id), method: :delete %></p>
  <% else %>
    <p><%= link_to 'お気に入りする', favorites_path(spot_id: @spot.id), method: :post %></p>
  <% end %>
<% end %>

<p>
  <strong>Tag:</strong>
  <% @spot.tags.each do |tag| %>
  <%= tag.name %>
  <% end %>
</p>

<p>
  <strong>Category:</strong>
  <%= @spot.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @spot.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @spot.address %>
</p>

<p>
  <strong>Visited on:</strong>
  <%= @spot.visited_on %>
</p>

<p>
  <strong>Url:</strong>
  <%= @spot.url %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @spot.comment %>
</p>

<% if @spot.images.attached? %>
<div style="width: 700px;">
  <p><strong>Image:</strong></p>
  <% @spot.images.each do |image| %>
  <a href="<%= url_for(image) %>">
    <%= image_tag image, width: 100, height: 100 %>
  </a>
  <% end %>
</div>
<% end %>

<p><strong>場所:</strong></p>
<script type="text/javascript">
 let map;

  function initMap() {
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      // コントローラーで定義した変数から緯度経度を呼び出し、マップの中心に表示
      center: {
        lat: gon.spot.latitude,
        lng: gon.spot.longitude
      },
      zoom: 12,
    });

    marker = new google.maps.Marker({
      // コントローラーで定義した変数から緯度経度を呼び出し、マーカーを立てる
      position: {
        lat: gon.spot.latitude,
        lng: gon.spot.longitude
      },
      map: map
    });
  }
</script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap"
  async
  defer
></script>
<style type="text/css">
  #map {
    height: 300px;
    width: 400px;
  }
</style>
<div id="map"></div>

<%= link_to 'Edit', edit_spot_path(@spot, id: @spot.id, album_id: @spot.album_id) %> | <%= link_to 'Back', album_path(id: @spot.album_id), data: {"turbolinks" => false} %>
