<div class="container mx-auto text-center text-base lg:text-sm w-4/5 lg:w-1/2 bg-white my-14 px-4 md:px-8 py-8 rounded-md shadow-md">

<p class="text-lg font-semibold mb-5"><%= t('.spot_show') %></p>

<div class="text-left">
  <div id="spot_<%= @spot.id %>">
    <%= render partial: 'favorites/favorite', locals: { spot: @spot, favorite: @favorite } %>
  </div>

  <p>
  <span class="font-semibold border-b-2 border-yellow-300 px-1 mr-5"><%= t('.name') %></span>
    <%= @spot.name %>
  </p>

  <p>
  <span class="font-semibold border-b-2 border-yellow-300 px-1 mr-5"><%= t('.tag') %></span>
    <% @spot.tags.each do |tag| %>
    <%= tag.name %>
    <% end %>
  </p>

  <p>
    <span class="font-semibold border-b-2 border-yellow-300 px-1 mr-5"><%= t('.category') %></span>
    <%= @spot.category %>
  </p>

  <p>
    <%= @spot.address %></span>
    <span class="font-semibold border-b-2 border-yellow-300 px-1 mr-5"><%= t('.address') %>
  </p>

  <p>
    <span class="font-semibold border-b-2 border-yellow-300 px-1 mr-5"><%= t('.visited_on') %></span>
    <%= @spot.visited_on %>
  </p>

  <p>
    <span class="font-semibold border-b-2 border-yellow-300 px-1 mr-5"><%= t('.url') %></span>
    <%= link_to @spot.url, @spot.url, class: "underline text-blue-900 hover:opacity-75" %>
  </p>

  <p>
    <span class="font-semibold border-b-2 border-yellow-300 px-1 mr-5"><%= t('.comment') %></span>
    <%= @spot.comment %>
  </p>
</div>

<% if @spot.images.attached? %>
<div style="width: 700px;">
  <%# <p><strong>Image:</strong></p> %>
  <% @spot.images.each do |image| %>
  <a href="<%= url_for(image) %>">
    <%= image_tag image, width: 100, height: 100 %>
  </a>
  <% end %>
</div>
<% end %>

<p>
  <span class="font-semibold border-b-2 border-yellow-300 px-1 mr-5"><%= t('.place') %></span>
</p>


<script type="text/javascript">
  let map;

  function initMap() {
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      // コントローラーで定義した変数から緯度経度を呼び出し、マップの中心に表示
      center: {
        lat: gon.spot.latitude,
        lng: gon.spot.longitude
      },
      zoom: 12,
    });

    marker = new google.maps.Marker({
      // コントローラーで定義した変数から緯度経度を呼び出し、マーカーを立てる
      position: {
        lat: gon.spot.latitude,
        lng: gon.spot.longitude
      },
      map: map
    });
  }
</script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap"
  async
  defer
></script>
<style type="text/css">
  #map {
    min-height: 270px;
    min-width: 270px;
    background-color: #EEEEEE;
  }
</style>
<div id="map" class="h-100 w-100"></div>

<div class="flex flex-col items-center mt-3 w-full gap-3">
  <%= link_to t('.edit_spot'), edit_spot_path(@spot, id: @spot.id, album_id: @spot.album_id), class: "w-2/3 py-2 rounded-md bg-yellow-300 hover:bg-yellow-400" %>
  <p class="flex">
    <i class="fa-solid fa-chevron-left"></i>
    <%= link_to t('.back'), album_path(id: @spot.album_id) %>
  </p>
</div>

</div>
