<p>
  <strong>Name:</strong>
  <%= @spot.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @spot.address %>
</p>

<p>
  <strong>Visited on:</strong>
  <%= @spot.visited_on %>
</p>

<p>
  <strong>Url:</strong>
  <%= @spot.url %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @spot.comment %>
</p>

<script type="text/javascript">
  function initMap() {
    var test = {lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
    var contentString = '住所：<%= @spot.address %>';
    var infoindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });

  }
</script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap"
  async
  defer
></script>
<style type="text/css">
  #map {
    height: 200px;
    width: 70%;
  }
</style>
<div id="map"></div>

<%= link_to 'Edit', edit_spot_path(@spot) %> | <%= link_to 'Back', spots_path %>
