<div class="container mx-auto text-center text-sm lg:text-base w-4/5 lg:w-1/2 bg-white my-14 px-4 md:px-8 py-8 rounded-md shadow-md">

  <h1 class="text-lg lg:text-2xl font-semibold mb-5"><%= @user.name %>さんのページ</h1>


  <% if @user.image.attached? %>
      <div class="flex justify-center mb-5">
        <%= image_tag @user.image, size: '100x100' %>
      </div>
    <% else %>
      <div>**no picture**</div>
  <% end %>
  <div class="flex flex-col md:flex-row mb-4 text-left">
    <p class="mr-3 mb-1"><span class="text-sm border-b-2 border-yellow-300 px-1 mr-5"><%= t('.self_introduction') %></span></p>
    <p class="break-all">
      <%= @user.self_introduction %>
    </p>
  </div>

  <div class="flex flex-col md:flex-row mb-4 text-left">
    <p class="mr-3 mb-1"><span class="text-sm border-b-2 border-yellow-300 px-1 mr-5"><%= t('.user_name') %></span></p>
    <p><%= @user.name %></p>
  </div>

  <div class="flex flex-col md:flex-row mb-12 text-left">
    <% if @user == current_user %>
      <p class="mr-3 mb-1"><span class="text-sm border-b-2 border-yellow-300 px-1 mr-2"><%= t('.email') %></span></p>
      <p><%= @user.email %></p>
    <% end %>
  </div>

  <div class="text-left font-bold text-lg mb-2">
    <%= @user.name %>さんのアルバム</h3>
  </div>
    
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mb-10">
    <% if @user.albums.any? %>
    <% @user.albums.each do |album| %>
        <div class="h-40 mb-5 mx-2 shadow-lg rounded-md text-sm sm:text-base">
          <p class="h-7 bg-yellow-300 rounded-tr-md rounded-tl-md"></p>
          <p class="font-semibold my-3 underline hover:opacity-75"><%= link_to album.title, album %></p>
          <p class=" mb-3"><i class="fa-solid fa-suitcase-rolling"></i><span class="ml-2"><%= album.visited_on.strftime("%Y年%m月") %></span></p>
          <p class="flex justify-end space-x-4 pr-5">
            <% if album.user == current_user %>
              <%= link_to edit_album_path(album) do %>
                <i class="fa-regular fa-pen-to-square fa-lg"></i>
              <% end %>
              <%= link_to album_path(album, user_id: album.user_id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa-regular fa-trash-can fa-lg"></i>
              <% end %>
            <% end %>
          </p>
        </div>
      <% end %>
    <% else %>
      <p class="text-left">アルバムはまだありません。</p>
    <% end %>
  </div>


  <% if @user == current_user || @user == guest_user || @user == admin_guest_user %>
    <p class="text-lg font-semibold text-left mb-5"><%= t('.new_album') %></p>
    <%= form_with(model: Album.new, url: {controller: 'albums', action: 'create' }, local: true) do |form| %>
      <% if @album != nil && @album.errors.any? %>
        <div id="error_explanation">
          
          <ul>
            <% @album.errors.each do |error| %>
            <li class="text-left text-red-500 font-semibold mb-3 "><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="md:flex">
        <div class="field text-left mb-3 mr-3 lg:mr-6">
          <%= form.label :title, class: "mr-3" %>
          <%= form.text_field :title, placeholder: t('.input_visited_place'), class: "focus:outline-none border-b-2 border-yellow-300" %>
        </div>
        
        <div class="md:flex mb-8">
          <div class="field text-left mb-3 mr-3 lg:mr-6">
            <%= form.label :visited_on, class:"mr-3" %>
            <%= form.date_select :visited_on, {discard_day: true}, class: "border-2 border-yellow-300 rounded-md" %>
          </div>
          <div class="actions">
            <%= form.submit class:"px-2 py-1 sm:px-3 sm:py-2 rounded-md bg-yellow-300 hover:bg-yellow-400" %>
          </div>
        </div>
        
        <%= form.hidden_field :user_id, value: @user.id %>
      </div>

    <% end %>
  <% end %>
      
  <div class="flex justify-center mt-6">
    <p>
      <i class="fa-solid fa-chevron-left"></i>
      <%= link_to t('.back'), users_path, class: "hover:opacity-75" %>
    </p>
    <p>
      <% if @user == current_user %>
        <p class="ml-10 sm:ml-40"><%= link_to t('.edit_account'), edit_user_registration_path, class: "inline-block px-1 border-b-2 border-gray-400" %></p>
      <% end %>
    </p>
  </div>
</div>
