<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Visited on:</strong>
  <%= @album.visited_on.strftime("%Y年%m月") %>
</p>

<%= form_with url: album_path(@album), method: :get, local: true do |form| %>
  <%= form.select("tag_id", Tag.pluck(:name, :id), { include_blank: true }) %>
  <%= form.submit 'Search', name: nil %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spots.each do |spot| %>
      <tr>
        <td><%= spot.name %></td>
        <td><%= spot.category %></td>
        <td>
          <% spot.tags.each do |tag| %>
          <%= tag.name %>
          <% end %>
        </td>
        <td><%= link_to 'Show', spot_path(spot, user_id: current_user.id), data: {"turbolinks" => false} %></td>
        <% if @album.user == current_user %>
          <td><%= link_to 'Edit', edit_spot_path(spot, album_id: @album.id) %></td>
          <td><%= link_to 'Destroy', spot_path(spot, album_id: @album.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<div id="map">表示できる場所はありません</div>
<style>
  #map{
    height: 400px;
    width: 600px;
}
</style>

<script>

  let map;
  let marker = []; // マーカーを複数表示させたいので、配列化
  let infoWindow = []; // 吹き出しを複数表示させたいので、配列化
  let markerData = gon.spots; // コントローラーで定義したインスタンス変数を変数に代入

  function initMap() {
    geocoder = new google.maps.Geocoder()

    var mapLatLng = new google.maps.LatLng({lat: markerData[0]['latitude'], lng: markerData[0]['longitude']});
    map = new google.maps.Map(document.getElementById('map'), {
      center: mapLatLng, 
      zoom: 13,
      scrollwheel: true,
    });

    // 繰り返し処理でマーカーと吹き出しを複数表示させる
    for (var i = 0; i < markerData.length; i++) {
      let id = markerData[i]['id']

      // 各地点の緯度経度を算出
      markerLatLng = new google.maps.LatLng({
        lat: markerData[i]['latitude'],
        lng: markerData[i]['longitude']
      });

      // 各地点のマーカーを作成
      marker[i] = new google.maps.Marker({
        position: markerLatLng,
        map: map
      });
      
      // 各地点の吹き出しを作成
      infoWindow[i] = new google.maps.InfoWindow({
        // 吹き出しの内容
        content: `<a href='/spots/${ id }'>${ markerData[i]['name'] }</a>`
      });
      
      // マーカーにクリックイベントを追加
      markerEvent(i);
    }
    map_adjust('');
  }

  function map_adjust(){
    var latMin = 90;
    var latMax = -90;
    var lngMin = 180;
    var lngMax = -180;
    if (markerData.length === 1){
      geocoder = new google.maps.Geocoder()
        map = new google.maps.Map(document.getElementById('map'), {
          // コントローラーで定義した変数から緯度経度を呼び出し、マップの中心に表示
          center: {
            lat: gon.spot.latitude,
            lng: gon.spot.longitude
          },
        });
      }else{
        for (var i = 0; i < markerData.length; i++) {
          var thisLat = markerData[i]['latitude'];
          var thisLng = markerData[i]['longitude'];
          latMin = Math.min(latMin, thisLat);
          latMax = Math.max(latMax, thisLat);
          lngMin = Math.min(lngMin, thisLng);
          lngMax = Math.max(lngMax, thisLng);
          
          var min = new google.maps.LatLng(latMin, lngMin);
          var max = new google.maps.LatLng(latMax, lngMax);
          var latLngBounds = new google.maps.LatLngBounds(min, max);
          map.fitBounds(latLngBounds);
        }
      }
    }
  
  // マーカーをクリックしたら吹き出しを表示
  function markerEvent(i) {
    marker[i].addListener('click', function () {
      infoWindow[i].open(map, marker[i]);
    });
    
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap" async defer></script>

<% if @album.user == current_user %>
<%= link_to 'New Spot', new_spot_path(album_id: @album.id), data: {"turbolinks" => false} %>
<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Destroy', album_path(@album, user_id: current_user.id), method: :delete, data: { confirm: 'Are you sure?' } %>|
<% end %>
<%= link_to 'Back', user_path(id: @album.user_id), data: {"turbolinks" => false} %>