<!DOCTYPE html>
<html>
  <head>
    <title>OriginalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= include_gon %>
  </head>

  <body>
    <% if current_user.try(:admin?) %>
      <%= link_to "管理者画面", rails_admin_path %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to "ユーザ一覧", users_path %>
      <%= link_to "アルバム投稿", albums_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
